@model HospiFication.Models.CommonList
@using HospiFication.Models
@{
    ViewData["Title"] = "Уведомления";
}

<h1>Уведомления</h1>

<table class="table" border="3" cellspacing="0" >
    <tr>
        <th bgcolor="#ffe4e1">ID уведомления </th> 
        <th bgcolor="#ffe4e1">ID выписки</th>
        <th bgcolor="#ffe4e1">ID пациента</th>
        <th bgcolor="#ffe4e1">ID родственника</th>
        <th bgcolor="#ffe4e1">Текст уведомления</th>
    </tr>

    @foreach (Notification p in Model.Notifications)
    {
        <tr>
            <td>@p.NotificationId</td>
            <td>@p.ExtractionID</td>
            <td>@p.PID</td>
            <td>@p.RID</td>
            <td>@p.NotificationText</td>
        </tr>
     }

    </table>
    <div class="form-group">
            <a asp-action="Patients" class="btn btn-primary">Назад</a>
    </div>

