@model HospiFication.Models.CommonList
@using HospiFication.Models
@{
    ViewData["Title"] = "Родственники";
}

<h1>Родственники</h1>

<table class="table" border="3" cellspacing="0">
    <tr>
        <th bgcolor="#ffe4e1">ID родственника</th>
        <th bgcolor="#ffe4e1">ID пациента</th>
        <th bgcolor="#ffe4e1">ФИО родственника</th>
        <th bgcolor="#ffe4e1">Телефон родственника</th>
        <th bgcolor="#ffe4e1">Почта родственника</th>
        <th bgcolor="#ffe4e1">Степень родства</th>

    </tr>

    @foreach (Relative p in Model.Relatives)
    {
        <tr>
            <td>@p.RelativeID</td>
            <td>@p.PatientID</td>
            <td>@p.RelativeFIO</td>
            <td>@p.RelativePhone</td>
            <td>@p.RelativeMail</td>
            <td>@p.WhatsRelative</td>
        </tr>
     }
    </table>
    <div class="form-group">
            <a asp-action="Patients" class="btn btn-primary">Назад</a>
    </div>

